.CardDetail {
    display: flex;
    flex-direction: row;
}

.show {
    display: block;
    width: 100%;
    max-width: 768px;
    margin: 30px auto;
    background-color: #eee;
    position: absolute;
    overflow-y: auto;
    top: 0;
    z-index: 99;
}